body {
    font-family: "Sintony", sans-serif;
  }

  ul li {
    list-style: none;
  }
  
  h6 {
    font-weight: bolder;
  }

  footer {
    font-size: 12px;
    margin-top: -12px;
    margin-left: 125px;
    font-family: "Sintony", sans-serif;
  }
  
  #search-city-input,
  #magnifying-glass-emoji {
    border-radius: 10%;
    font-size: 15px;
  }
  
  .current-forecast,
  .hourly-forecast,
  .daily-forecast {
    border: 2px solid #5a6275;
    background-color: #dee0e3;
    border-radius: 10%;
    max-width: 500px;
    font-family: "Sintony", sans-serif;
  }
  
  .temperature {
  padding: 15px 10px 0px 0px;
  font-size: 50px;
  }

  #celsius-temp,
  #fahrenheit-temp {
    font-size: 12px;
    text-decoration: none;
    color: black;
  }

  .feels-like {
    padding-bottom: 10px;
  }
  
  .date-time,
  .feels-like {
    font-size: 15px;
  padding-top: 10px;
  }
  
  .temp-high,
  .temp-low {
  display: inline;
  font-size: 15px;
  padding-top: 10px;
}

  .local-temp {
    padding-top: 15px;
    font-size: 30px;
  }
  
  .conditions {
    padding-top: 15px;
    padding-left: 40px;
    font-size: 25px;
  }
  
  .icon {
    padding-top: 10px;
    padding-left: 50px;
    font-size: 55px;
  }
  
  .weather-app-full {
    font-family: "Sintony", sans-serif;
    margin: 10px auto;
    max-width: 550px;
    padding: 20px;
  }
  
  .container {
    border: 2px solid #5a6275;
    max-width: 550px;
    margin: 100px auto;
    padding: 20px;
  }
  
  .units {
    position: relative;
    left: 10px;
    font-size: 15px;
  }

  .hourly-button{
     margin-left: 180px;
  }

  .hourly-button,
  .daily-button {
    border: 1px solid #5a6275;
    border-radius: 5px;
    margin-top: 10px; 
    margin-bottom: 10px;
    padding: 0, 2px;
    font-size: 14px;
  }
  
  .hourly-button:hover,
  .daily-button:hover {
    background-color: #5a6275;
  }

  .hourly-df {
    font-size: 14px;
    border: 1px solid #5a6275;
  
    margin-left: 170px;
  }
  
  .daily-df {
    font-size: 14px;
    border: 1px solid #5a6275;
  }
  
  .daily-df {
    background-color: #5a6275;
  }
  
  #now,
  #hour-two,
  #hour-three,
  #hour-four,
  #hour-five {
    padding-left: 14%;
    text-align: center;
  }
  
  #day-one,
  #day-two,
  #day-three,
  #day-four,
  #day-five {
    text-align: center;
  }
  
  .statistics {
    border: 2px solid #d1f0ee;
    background-color: #f6fdfc;
    border-radius: 10%;
    max-width: 400px;
    margin-left: 45px;
    margin-bottom: 20px;
  }
  
  .wind-chance,
  .humidity-visibility,
  .precipitation-uvindex,
  .sunrise-sunset {
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 60px;
  }
  
  .wind,
  .chance-of-snow,
  .humidity,
  .visibility,
  .precipitation,
  .uv-index,
  .sunrise,
  .sunset {
    font-weight: lighter;
    font-size: 13px;
  }