body {
    font-family: "Sintony", sans-serif;
  }
  
  h6 {
    font-weight: bolder;
  }
  
  #search-city-input,
  #magnifying-glass-emoji {
    border-radius: 10%;
    font-size: 15px;
  }
  
  .current-forecast,
  .hourly-forecast,
  .daily-forecast {
    border: 2px solid #5a6275;
    background-color: #dee0e3;
    border-radius: 10%;
    max-width: 500px;
    font-family: "Sintony", sans-serif;
  }
  
  .temperature {
    margin-top: 30px;
    padding-left: 50px;
    font-size: 45px;
    display: inline;
  }

  #celsius-temp,
  #fahrenheit-temp {
    font-size: 12px;
    text-decoration: none;
    color: black;
  }
  
  .feels-like,
  .date-time {
    font-size: 15px;
    padding-left: 50px;
  }
  
  .high-low {
    font-size: 13px;
    padding-left: 50px;
  }
  
  .local-temp {
    padding-top: 20px;
    padding-right: 70px;
    font-size: 20px;
    padding-bottom: 0px;
    text-align: center;
  }
  
  .conditions {
    font-size: 17px;
    padding-top: 0px;
    padding-right: 100px;
  }
  
  .icon {
    padding-right: 105px;
    font-size: 45px;
  }
  
  .city-search {
    text-align: right;
  }

  .hourly-button{
     margin-left: 180px;
  }

  .hourly-button,
  .daily-button {
    border: 1px solid #5a6275;
    border-radius: 5px;
    margin-top: 10px; 
    margin-bottom: 10px;
    padding: 0, 2px;
    font-size: 14px;
  }
  
  .hourly-button:hover,
  .daily-button:hover {
    background-color: #5a6275;
  }

  .hourly-df {
    font-size: 14px;
    border: 1px solid #5a6275;
  
    margin-left: 170px;
  }
  
  .daily-df {
    font-size: 14px;
    border: 1px solid #5a6275;
  }
  
  .daily-df {
    background-color: #5a6275;
  }
  
  #now,
  #hour-two,
  #hour-three,
  #hour-four,
  #hour-five {
    padding-left: 14%;
    text-align: center;
  }
  
  #day-one,
  #day-two,
  #day-three,
  #day-four,
  #day-five {
    text-align: center;
  }
  
  .statistics {
    border: 2px solid #d1f0ee;
    background-color: #f6fdfc;
    border-radius: 10%;
    max-width: 400px;
    margin-left: 45px;
    margin-bottom: 20px;
  }
  
  .wind-chance,
  .humidity-visibility,
  .precipitation-uvindex,
  .sunrise-sunset {
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 60px;
  }
  
  .wind,
  .chance-of-snow,
  .humidity,
  .visibility,
  .precipitation,
  .uv-index,
  .sunrise,
  .sunset {
    font-weight: lighter;
    font-size: 13px;
  }