ul li {
    list-style: none;
  }
  
h6 {
    font-weight: bolder;
  }

footer {
    font-size: 12px;
    margin-top: -100px;
    font-family: "Sintony", sans-serif;
    text-align: center;
  }

  .search-engine {
    border: 2px solid #d1f0ee;
    border-radius: 10%;
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  }

  #magnifying-glass-emoji {
    border: 2px solid #d1f0ee;
    border-radius: 10%;
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  }

  .current-forecast {
      margin-left: 3px;
      padding: 15px;
      border: 2px solid #d1f0ee;
      background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
      border-radius: 10%;
      max-width: 500px;
      font-family: "Sintony", sans-serif;
    }

  .weather-app-full {
    font-family: "Sintony", sans-serif;
    margin: 10px auto;
    max-width: 550px;
    padding: 20px;
  }
  
  .container {
    border: 2px solid #5a6275;
    background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    max-width: 550px;
    margin: 100px auto;
    padding: 20px;
  }

  #magnifying-glass-emoji{
    padding-left: 0px;
  }
  
  #search-city-input,
  #magnifying-glass-emoji {
    font-size: 15px;
  }

  #celsius-link,
  #fahrenheit-link {
    color: #ae35df;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  
}

.local-temperature {
  padding: 15px 10px 0px 0px;
  font-size: 50px;
  }

  .feels-like {
    padding-bottom: 10px;
  }
  
  .date-time,
  .feels-like {
    font-size: 15px;
  padding-top: 10px;
  }
  
  .temp-high,
  .temp-low {
  display: inline;
  font-size: 15px;
  padding-top: 10px;
  }

  .city-name {
    text-align: right;
    padding-right: 35px;
    padding-top: 15px;
    font-size: 25px;
  }
  
  .weather-conditions {
    padding-right: 35px;
    font-size: 15px;
    text-align: right;
  }
  
  .weather-conditions:first-letter {
    text-transform: capitalize;
  }
  
  .current-forecast-icon {
    font-size: 20px;
  }

  .statistics {
    border: 2px solid #d1f0ee;
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    border-radius: 40%;
    max-width: 450px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-top: 15px;
  }

  .wind-speed-value,
  .humidity-value {
    padding-left: 80px;
  }

  .wind-speed-value,
  .pressure-value,
  .humidity-value {
    font-weight: lighter;
    font-size: 13px;
    font-family: "Sintony", sans-serif;
  }

  .visibility-value {
    font-size: 13px;
    font-family: "Sintony", sans-serif;
  }

  .visibility-level {
    font-weight: lighter;
    font-family: "Sintony", sans-serif;
  }